!!! 5
%html{ lang: "en" }
  %head
    %title Open Source &amp; Feelings
    = stylesheet_link_tag "bootstrap-theme.min.css", "override", "https://fonts.googleapis.com/css?family=Lato:300,600,900"
    %link{ rel: "icon", href: "img/favicon.ico", type: "image/x-icon" }

    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }

  %body
    #wrapper
      #page-content-wrapper
        = partial :jumbotron

        .container.main
          = yield
          = partial :footer

    // Placed at the end of the document so the pages load faster
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js", "all"
