.jumbotron
  .container
    %h1
      = link_to "/" do
        = tag :img, src: "/images/logo_with_white_text_transparent_bg.png", alt: "Open Source & Feelings"

  %nav.navbar.navbar-inverse
    .navbar-header
      .hamburger-wrapper
        .spinner-master
          %span.sr-only Toggle navigation
          %input#spinner-form{ type: "checkbox", aria_expanded: "false" }
          %label.spinner-spin#menu-toggle{ for: "spinner-form" }
            .spinner.diagonal.part-1
            .spinner.horizontal
            .spinner.diagonal.part-2
    #desktop-collapse
      %ul.nav.navbar-nav
        %li= link_to "About", "/about"
        %li= link_to "Code of Conduct", "/conduct"
        %li= link_to "Diversity Statement", "/diversity"
        %li= link_to "CFP", "http://cfp.osfeels.com"
        %li= link_to "Talk Ideas", "/talk-ideas"
        %li= link_to "Speakers", "/speakers"
        %li= link_to "Sponsors", "/sponsors"
