#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand= link_to "Home", "/"
    %li= link_to "Code of Conduct", "/conduct"
    %li= link_to "Diversity Statement", "/diversity"
    %li= link_to "Schedule", "/schedule"
    %li= link_to "Speakers", "/speakers"
    %li= link_to "Sponsors", "/sponsors"
    %li= link_to "Visiting Seattle", "/visiting"
