.schedule
  .row.page-title
    %h1.purple OSFeels 2016 Conference Schedule

  .row
    .col-2
      - get_schedule(data.schedule, data.speakers).each do |day|
        .day-wrapper
          %h3.day.yellow= "#{ day["name"] }<br />#{ day["date"] }"
          %table
            - day["events"].each do |event|
              %tr
                %td.time-wrapper
                  %h4.time= format_time(event["start_time"])
                  %p.length= "#{event["length"]}&nbsp;minutes"
                %td.details-wrapper
                  - if event["speaker_name"]
                    %a{ href: "/speakers/#{ generate_slug(event["name"]) }" }
                      %h4.name= event["name"]
                      - if event["title"]
                        %p.description= event["title"]
                  - elsif event["name"].match /(Break|Coffee)/
                    %h4.name= event["name"]
                    %p.description= event["description"]
                  - else
                    %h4.name= event["name"]
                    %p.description= event["description"]
