.sponsors
  .row.callout
    %h2.purple Sponsor Open Source & Feelings 2016!
    .text-center= link_to "Visit the Prospectus", "/prospectus", class: "btn"

  .row.page-title
    %h2.teal Thank You to Our 2016 Conference Sponsors!
    %p.text-center Open Source & Feelings wouldn't be possible without the support of our wonderful sponsors.

  -# .row.confetti.lightning
  -#   %h2.purple Committer Sponsors
  -#
  -# - data.sponsors.committers.sort_by { |sponsor| sponsor["name"] }.each do |sponsor|
  -#   .row.sponsor
  -#     %h3{ id: generate_slug(sponsor["name"]) }
  -#       %a{ href: sponsor["url"], target:"_blank" }
  -#         %img{ src: "/images/sponsors/#{ sponsor["image"] }", alt: "#{ sponsor["name"] } logo" }
  -#     - if sponsor["blurb"]
  -#       %p= sponsor["blurb"]

  .row.confetti.lightning
    %h2.purple Contributor Sponsors

  - data.sponsors.contributors.sort_by { |sponsor| sponsor["name"] }.each_slice(2) do |sponsor_pair|
    .row
      .col-2
        -sponsor_pair.each do |sponsor|
          .sponsor
            %h3{ id: generate_slug(sponsor["name"]) }
              %a{ href: sponsor["url"], target:"_blank" }
                %img{ src: "/images/sponsors/#{ sponsor["image"] }", alt: "#{ sponsor["name"] } logo" }
            - if sponsor["blurb"]
              %p= sponsor["blurb"]

  .row.confetti.smile
    %h2.purple In-Kind Sponsors

  - data.sponsors.inkind.sort_by { |sponsor| sponsor["name"] }.each_slice(2) do |sponsor_pair|
    .row
      .col-2
        - sponsor_pair.each do |sponsor|
          .sponsor
            %h3{ id: generate_slug(sponsor["name"]) }
              %a{ href: sponsor["url"], target:"_blank" }
                %img{ src: "/images/sponsors/in-kind/#{ sponsor["image"] }", alt: "#{ sponsor["name"] } logo" }
            - if sponsor["blurb"]
              %p= sponsor["blurb"]
